.bg{
    background-color: rgb(92, 179, 179);
}
.first{
    height: 100vh;
    width: 100%;
}
.background{
    background-image: url("add.jpg");
    height: 100vh;
    width: 100%;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    position: absolute;
    opacity: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: contrast(5px);
    object-fit: cover;
}
.text{
    padding: 3%;
    position: relative;
    background:rgba(241, 241, 241, 0.493);
}

